@import url("./_edit/profile__button_edit.css");
@import url("./_add/profile__button_add.css");

.profile__button {
  display: inline-flex;
  column-gap: 20px;
  padding-bottom: 11px;
  margin-left: auto;
}
